* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


.conteiner {
    font-size: 16px;
    background-color: antiquewhite;
    color: darkslateblue;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.title {
    height: 100px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #222 solid 1px;
    font-size: 11px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    min-height: 30px;
    padding: 2px;
}

.users {
    padding: 0 16px;
    display: grid;
    grid-template-columns: 3% repeat(7, 1fr) 5%;
    align-items: center;
}

button {
    background-color: rgba(255, 255, 255, 0.6);
    height: 30px;
    width: 50px;
    border: 1px solid #888;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: red;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    color: #fff;
    background-color: red;
    transform: scale(90%, 90%);
}



.dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.dogs img {
    width: 680px;
    transition: all 0.5;
}